.idea
.venv
.vscode
__pycache__
*.pyc
.coverage
.env
venv/
.env.dev.bkp

# Pipenv
Pipfile
Pipfile.lock

# Pyenv
.python-version

# PyCharm
.idea/

# output files
deep_equation/dataset
deep_equation/model_state
